.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner img {
    height: auto;
}

.wrapper {
    height: 2000px;
}

.main-container {
    margin: 0 auto;
}

.slick-container {
    margin-top: -94px;
}
