.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner img {
    height: auto;
}

.wrapper {
    background-color: #f3f3f3;
    height: 2000px;
}

.main-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.slick-container {
    margin-top: -94px;
    margin-bottom: 30px;
}

.option-promo {
    display: flex;
    margin-bottom: 30px;
}

.option-promo li {
    cursor: pointer;
    text-align: center;
    list-style: none;
    padding: 15px 0;
    margin-right: 20px;
    width: calc(100% / 3 - 16px);
    background-color: #fff;
    border-radius: 12px;
    &:last-child {
        margin-right: 0;
    }
}

.option-promo li img {
    vertical-align: middle;
    height: 70px;
}

.option-promo li span {
    display: inline-block;
    text-align: initial;
    font-size: 22px;
    color: #222;
    margin-left: 10px;
    line-height: 28px;
    vertical-align: middle;
    max-width: 65%;
}

.topzane-container {
    margin: 10px auto 5px;
    cursor: pointer;
}

.image-sale-container {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    cursor: pointer;
}

.image-container img {
    position: fixed;
    top: 195px;
}

.image-container img:first-child {
    left: calc(((100vw - 1200px) / 2) - 95px);
}

.image-container img:last-child {
    right: calc(((100vw - 1200px) / 2) - 95px);
}

.show-image-sale {
    display: block;
}

.flashsale-container {
    padding: 20px;
    background: #ff685f;
    border-radius: 12px;
    margin-bottom: 30px;
    height: 200px;
}

.gvdshock-container h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    color: #ffe818;
}

.gvdshock-container {
    float: left;
    width: 30%;
    margin-bottom: 10px;
}

.lightning-image {
    float: left;
    margin-right: 10px;
}

.endtime-container {
    font-size: 14px;
    color: #fff;
    margin-left: 2px;
    display: inline-block;
}

.coutdown-time label:nth-child(-n + 2)::after {
    content: ':';
    position: absolute;
    right: -9px;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}

.coutdown-time label:nth-child(n + 2) {
    margin-left: 10px;
}

.coutdown-time label {
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    min-width: 30px;
    border-radius: 8px;
    background-color: #000;
    display: inline-block;
    position: relative;
}

.coutdown-time {
    margin-left: 15px;
}

.timeline-container {
    float: left;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.timeline-container div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-timeline {
    font-size: 16px;
}

.timeline {
    font-size: 20px;
}

.timeline-container .active:first-child {
    font-size: 17px;
}

.timeline-container .active:last-child {
    font-weight: bold;
}

.timeline-container .active-container {
    position: relative;
}

.timeline-container .active-container::after {
    content: '';
    height: 4px;
    width: 40px;
    background-color: #fff;
    border-radius: 2px;
}

.timeline-container div {
    cursor: pointer;
}
