.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner img {
    height: auto;
}

.wrapper {
    background-color: #f3f3f3;
}

.main-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.slick-container {
    margin-top: -94px;
    margin-bottom: 30px;
}

.option-promo {
    display: flex;
    margin-bottom: 30px;
}

.option-promo li {
    cursor: pointer;
    text-align: center;
    list-style: none;
    padding: 15px 0;
    margin-right: 20px;
    width: calc(100% / 3 - 16px);
    background-color: #fff;
    border-radius: 12px;
    &:last-child {
        margin-right: 0;
    }
}

.option-promo li img {
    vertical-align: middle;
    height: 70px;
}

.option-promo li span {
    display: inline-block;
    text-align: initial;
    font-size: 22px;
    color: #222;
    margin-left: 10px;
    line-height: 28px;
    vertical-align: middle;
    max-width: 65%;
}

.topzane-container {
    margin: 10px auto 5px;
    cursor: pointer;
}

.image-sale-container {
    display: none;
    position: absolute;
    z-index: 999;
    width: 100%;
    cursor: pointer;
}

.image-container img {
    position: fixed;
    top: 195px;
}

.image-container img:first-child {
    left: calc(((100vw - 1200px) / 2) - 95px);
}

.image-container img:last-child {
    right: calc(((100vw - 1200px) / 2) - 95px);
}

.show-image-sale {
    display: block;
}

.flashsale-container {
    padding: 20px;
    background: #ff685f;
    border-radius: 12px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.gvdshock-container h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    color: #ffe818;
}

.gvdshock-container {
    float: left;
    width: 30%;
    margin-bottom: 10px;
}

.lightning-image {
    float: left;
    margin-right: 10px;
}

.endtime-container {
    font-size: 14px;
    color: #fff;
    margin-left: 2px;
    display: inline-block;
}

.coutdown-time label:nth-child(-n + 2)::after {
    content: ':';
    position: absolute;
    right: -9px;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}

.coutdown-time label:nth-child(n + 2) {
    margin-left: 10px;
}

.coutdown-time label {
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    min-width: 30px;
    border-radius: 8px;
    background-color: #000;
    display: inline-block;
    position: relative;
}

.coutdown-time {
    margin-left: 15px;
}

.timeline-container {
    float: left;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.timeline-container div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-timeline {
    font-size: 16px;
}

.timeline {
    font-size: 20px;
}

.timeline-container .active:first-child {
    font-size: 17px;
}

.timeline-container .active:last-child {
    font-weight: bold;
}

.timeline-container .active-container {
    position: relative;
}

.timeline-container .active-container::after {
    content: '';
    height: 4px;
    width: 40px;
    background-color: #fff;
    border-radius: 2px;
}

.timeline-container div {
    cursor: pointer;
}

.shopping-trends {
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
    margin-bottom: 30px;
    border-radius: 14px;
}

.ingredient-title {
    font-size: 22px;
    padding: 15px 22px;
    color: #333;
    line-height: 36px;
    display: block;
}

.shopping-trends ul {
    display: flex;
    justify-content: center;
    padding: 0 22px 30px;
}

.shopping-trends ul li {
    position: relative;
    list-style: none;
    margin-right: 12px;
    height: 236px;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
}

.shopping-trends li img {
    border-radius: 10px;
}

.shopping-trends ul li p {
    position: absolute;
    left: 18px;
    display: flex;
    flex-direction: column;
    bottom: 22px;
    line-height: 30px;
}

.shopping-trends ul li p span {
    font-size: 16px;
    color: #333;
}

.shopping-trends ul li p strong {
    font-size: 17px;
    color: #2f80ed;
    font-weight: normal;
}

.cate-feature {
    margin-bottom: 30px;
    border-radius: 14px;
    background-color: #fff;
}

.cate-feature-container {
    padding: 0 40px 30px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.cate-feature-container h3 {
    padding: 10px 0;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}

.cate-feature-container img {
    height: 60px;
    margin: 0 auto 8px;
    display: block;
}

.cate-feature-container span {
    padding: 0 5px;
    display: block;
}

.suggestions strong,
.discount-payonl strong {
    padding: 0 0 15px;
}

.discount-payonl-image img {
    border-radius: 12px;
    width: 380px;
}

.discount-payonl-image {
    display: flex !important;
    justify-content: center;
}

.discount-payonl {
    margin-bottom: 30px;
}

.convenient-service {
    background-color: #fff;
    border-radius: 14px;
    margin-bottom: 30px;
}

.convenient-service strong p {
    cursor: pointer;
    font-size: 16px;
    color: #555;
    font-weight: normal;
    float: right;
    &::after {
        content: '';
        width: 6px;
        height: 6px;
        display: inline-block;
        transform: rotate(45deg);
        border-top: 1px solid #555;
        border-right: 1px solid #555;
        vertical-align: middle;
        margin: 0 0 2px 5px;
    }
}

.convenient-service ul {
    display: flex;
    justify-content: center;
    padding: 0 22px 30px;
}

.convenient-service ul li {
    cursor: pointer;
    list-style: none;
    width: 283px;
    padding: 14px 10px;
    margin-right: 12px;
    border-radius: 14px;
    &:last-child {
        margin-right: 0;
    }
}

[class^='HomeFix_service-'] {
    background: url('./iconnew.png') no-repeat;
    width: 38px;
    height: 38px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
}

.item-service-card {
    background: #dceeff;
}

.service-card {
    background-position: -273px -89px;
}

.item-service-money {
    background: #fef5cf;
}

.service-money {
    background-position: -273px -133px;
}

.item-service-game {
    background: #ffefdb;
}

.service-game {
    background-position: -272px -175px;
}

.item-service-ticket {
    background: #e1fecf;
}

.service-ticket {
    background-position: -273px -219px;
}

.service-container {
    float: left;
    width: 38px;
    margin-right: 12px;
    background: none;
}

.text-service-container {
    overflow: hidden;
}

.text-service-container h3 {
    font-size: 18px;
    font-weight: normal;
    color: #333;
    line-height: 25px;
    padding: 6px 0 12px;
}

.text-service-container p strong {
    color: #ff0b0b;
}

.text-service-container p {
    width: 210px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    line-height: 25px;
}

.more-suggestions {
    margin: 15px auto 0;
    background-color: #fff;
    width: 340px;
    color: #333;
    line-height: 16px;
    border-radius: 4px;
    padding: 15px 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
